/* LOGIN CONTAINER */
.box-area{
    width: 930px ;
    margin-top: -130px;
}


.left-box{
    background: linear-gradient(180deg, #4475F2, #5c6ad4, #3a5be0); 
    height: 440px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

@media only screen and (max-width:768px){
   .box-area{
    margin: 0 10px;

   }

   .left-box{
    height: 100px;
    overflow: hidden;
   }

   .right-box{
    padding: 20px;
   }
}